<h2>Show post</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @post.body |> sanitize %>
  </li>

</ul>

<%= link "Edit", to: path_for_post(@conn, :edit, @post) %>
<%= link "Back", to: path_for_post(@conn, :index) %>
