<h2>Edit event</h2>

<%= render "form.html", changeset: @changeset,
                        action: event_path(@conn, :update, @event) %>

<%= link "Delete", to: event_path(@conn, :delete, @event), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>

<%= link "Back", to: event_path(@conn, :index) %>
