/* Includes Bootstrap as well as some default style for the starter
 * application. This can be safely deleted to start fresh.
 */

/* Pad content for fixed header */
main {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

/* Custom fixed page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 15px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  background: white;
  z-index: 99999;
}

.logo {
  display: inline-block;
}

/* Display text as-is */
.text-display p {
  margin: 0;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .header {
    max-width: 730px;
  }
}
