// sidebar.scss

@import "bootstrap/variables";

$sidebar-width: 260px;
$sidebar-width-neg: -260px;

#sidebar {
  border-right: 1px solid $list-group-border;
}
#sidebar a {
  border: 0;
  border-bottom: 1px solid $list-group-border;
}
#sidebar .list-group-item {
  margin: 0;
  border-radius: 0;
}
#sidebar .collapsing {
  border-left: 5px solid $gray-light;
}
#sidebar .collapse {
  border-left: 5px solid $gray-light;
}

/* collapsed sidebar styles */
@media screen and (max-width: $screen-xs-max) {
  .sidr {
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: $sidebar-width;
    overflow-x: hidden;
    overflow-y: auto;
    background: white;

    &.right {
      left: auto;
      right: $sidebar-width-neg;
    }

    &.left {
      left: $sidebar-width-neg;
      right: auto;
    }
  }
  #sidebar {
    padding: 0;
  }
}
