<div class="row">
  <nav class="col-sm-3" id="sidebar" role="navigation">
    <%= render Churchspace.DisplayView, "contents_nav.html", assigns %>
  </nav>

  <div class="col-sm-9">
    <div>
      <%= @post.body |> sanitize %>
    </div>
  </div>
</div>
